# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# Database
# =========================
*.sqlite3
*.db

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Alembic
# =========================
alembic/versions/__pycache__/

# =========================
# Editor / IDE
# =========================
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# =========================
# Testing
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/
